@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../fonts/ralewayregular.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: ProximaNova;
}
ul {
  list-style-type: none;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ff8b00;
}
button {
  background-color: #ff8b00;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 17px 45px 17px 45px;
  text-transform: uppercase;
  color: white;
  border: 3px #ff8b00 solid;
}
button:hover {
  background-color: unset;
  color: #ff8b00;
}
button:active {
  background-color: unset;
  color: #ff8b00;
  transform: translateY(2px);
}

@media (min-width: 769px) {
  .fixed-menu {
    position: fixed;
    top: 0;
  }
  nav ul {
    display: flex;
  }
}
.burger-menu__nav {
  display: none;
  top: 0px;
}
@media (max-width: 767.99px) {
  .burger-menu__button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #7050e5;
    transition: 0.4s;
  }
  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: white;
  }
  .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu__lines::before {
    content: "";
    top: -12px;
  }
  .burger-menu__lines::after {
    content: "";
    top: 12px;
  }
  .burger-menu_active .burger-menu__button,
  .burger-menu_active .burger-menu__lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .burger-menu__nav {
    display: block;
    padding-top: 100px;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #6149cf;
    overflow-y: auto;
    left: -100%;
    letter-spacing: 0.7px;
    font-size: 26px;
    line-height: 38px;
    transition: 0.5s;
  }
  .burger-menu__nav ul {
    margin: 20px 0 0 0;
    padding: 0;
  }
  .burger-menu__link {
    margin-left: 0px;
    padding: 15px 30px 15px 30px;
  }
  .burger-menu_active .burger-menu__nav {
    left: 0;
  }
  .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }
  .burger-menu_active .burger-menu__overlay {
    display: block;
  }
}

.fixed-smooth {
  background: no-repeat #6149cf;
  z-index: 1;
  position: fixed;
  right: 50px;
  top: 330px;
  text-align: center;
}
.fixed-smooth ul {
  padding: 0;
  margin: 0;
}
.fixed-smooth li {
  margin: 4px;
}

@media (max-width: 989.99px) {
  .logo {
    display: none;
  }
  .fixed-smooth {
    display: none;
  }
  .twiitter_img {
    margin-left: 40px;
  }
  .find-out-more {
    padding-top: 100px;
  }
  .services__item {
    max-width: 250px;
  }
  .resources__container__item__wrapper {
    display: none;
  }
  .resources__container {
    justify-content: space-around;
  }
  .resources__container__item {
    text-align: center;
    max-width: none;
    flex: 0 0 40%;
  }
  .resources__container__head {
    justify-content: flex-end;
  }
  .about {
    flex-direction: column;
  }
  .product-spotlight {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 767.99px) {
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
  .products {
    padding-top: 100px;
    padding-bottom: 0px;
    flex-direction: column;
  }
  .twiitter_img {
    margin-left: 0px;
    margin-top: 30px;
    text-align: center;
  }
  .product-spotlight {
    flex-basis: 18%;
  }
  .video-block {
    flex-basis: 18%;
  }
  .video-block video {
    max-width: 100%;
    height: auto;
  }
  .footer-twitter-wrapper {
    max-width: 220px;
  }
  .footer-twitter {
    margin: auto;
  }
  .footer-blocks {
    flex-direction: column;
    text-align: center;
    padding-bottom: 80px;
  }
  .footer-twitter-wrapper {
    max-width: 350px;
  }
}
@media (max-width: 575.99px) {
  .products {
    padding-top: 120px;
  }
  .twiitter_img {
    display: none;
  }
  .resources__container__head__item {
    margin-right: 20px;
  }
  .resources__container__item {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    max-width: 450px;
    flex: 0 0 100%;
  }
  .resources h2 {
    font-size: 50px;
  }
  .resources__line {
    flex-direction: column;
    text-align: center;
  }
  .contact_us {
    height: 200px;
  }
}

footer {
  position: relative;
}
.footerlogo {
  position: absolute;
  right: 33px;
  bottom: 48px;
}

.page__tiny {
  padding: 10px 0;
}
.page__small {
  padding: 30px 0;
}
.page__medium {
  padding: 60px 0;
}
.page__large {
  padding: 100px 0;
}

.page__darkwhite {
  background: #f8f8f8;
}
.page__gray {
  background: #363636;
}
.page__black {
  background: #252525;
}
.page__image-1 {
  background: url(../img/backgroundsquare.png) center no-repeat #5f49ce;
}
.page__image-2 {
  background: url(../img/backgroundtriangle.png) no-repeat;
  background-position-x: center;
}
.page__image-3 {
  background: url(../img/footerbackground.jpg);
  background-size: 100%;
  background-position-y: 40%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}
.wrap__small {
  max-width: 1030px;
}
.wrap__medium {
  max-width: 1170px;
}
.wrap__large {
  max-width: 1400px;
}

.block-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-menu {
  margin: 0 15px;
}
.page-title {
  display: none;
}
.box-menu__list {
  padding: 0;
}
.box-menu__item {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  border-bottom: 3px solid #ff8b00;
  padding: 10px 5px;
  margin-left: 15px;
}
@media (max-width: 767.99px) {
  .block-menu {
    display: none;
  }
}

.blocks-device {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-device__big {
  margin: 0 15px;
  width: 60%;
}
.box-device__small {
  margin: 0 15px;
  width: 25%;
}
.box-device__title {
  font-size: 55px;
  color: white;
}
.box-device__text {
  font-size: 16px;
  line-height: 30px;
  color: white;
}
.box-device__wrap {
  text-align: center;
}
@media (max-width: 575.99px) {
  .box-device__big {
    width: 100%;
  }
  .box-device__small {
    display: none;
  }
}

.block-find-more {
  text-align: center;
}
.block-find-more__wrap {
  margin-top: 40px;
}
.block-find-more__text__wrap {
  margin-bottom: 18px;
}
.block-find-more__text {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 18px;
  line-height: 16px;
}
.block-find-more__text:hover {
  color: #ff8b00;
}

.blocks-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-numbers {
  width: 30%;
  min-width: 309px;
  text-align: center;
}
.box-numbers__text {
  color: #7050e5;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.box-numbers__text span {
  display: block;
  text-transform: none;
  line-height: 60px;
  font-size: 60px;
}
@media (max-width: 989.99px) {
  .blocks-numbers {
    justify-content: center;
  }
  .box-numbers {
    padding: 30px;
  }
}
@media (max-width: 767.99px) {
  .box-numbers {
    min-width: unset;
    width: unset;
    margin: auto;
  }
}

.page-header-resources {
  display: flex;
  justify-content: flex-end;
  margin: 0 15px;
}
.title-hat-resources {
  width: 46px;
  height: 46px;
}
.title-resources {
  color: #7050e5;
  font-size: 60px;
  line-height: 40px;
  text-align: right;
}
.blocks-resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-resources {
  width: 30%;
  min-width: 300px;
  margin: 5px;
}
.box-resources__title {
  color: #7050e5;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
}
.box-resources__text {
  font-size: 15px;
  line-height: 22px;
}
@media (min-width: 991px) {
  .box-resources__device__wrap {
    height: 146px;
    margin-top: 4px;
    margin-left: 41px;
    margin-right: 85px;
  }
  .box-resources__user__wrap {
    height: 150px;
    margin-left: 53px;
    margin-right: 23px;
  }
  .box-resources__transaction__wrap {
    height: 150px;
    margin-left: 57px;
    margin-right: 73px;
  }
  .box-resources__contemporary__wrap {
    height: 140px;
    margin-left: 56px;
    margin-right: 80px;
  }
  .box-resources__solutions__wrap {
    height: 131px;
    margin-top: 9px;
    margin-left: 38px;
    margin-right: 38px;
  }
  .box-resources__cloud__wrap {
    height: 112px;
    margin-top: 28px;
    margin-left: 27px;
    margin-right: 25px;
  }
}
@media (max-width: 989.99px) {
  .box-resources {
    width: 45%;
    text-align: center;
  }
}
@media (max-width: 767.99px) {
  .title-resources {
    font-size: 50px;
  }
  .blocks-resources {
    flex-direction: column;
  }
  .box-resources {
    text-align: center;
    margin: 5px auto;
    min-width: unset;
    width: 80%;
  }
}

.box-about__wrap {
  margin: 0 50px;
}
.blocks-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-about__title {
  color: #7050e5;
  font-size: 40px;
  line-height: 40px;
}
.box-about__text {
  font-size: 15px;
  line-height: 22px;
}
.box-about__small {
  width: 42.5%;
}
.box-about__big {
  width: 60%;
}
.box-about__video {
  width: 100%;
}
@media (max-width: 989.99px) {
  .box-about__wrap {
    margin: 0 15px;
  }
  .box-about__small .box-about__wrap {
    margin-bottom: 30px;
  }
  .blocks-about {
    flex-wrap: wrap;
  }
  .box-about__small,
  .box-about__big {
    width: 100%;
  }
}

.blocks-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-contact {
  margin: 0 30px;
}
.box-contact__title {
  color: white;
  font-size: 40px;
  line-height: 40px;
}
@media (max-width: 767.99px) {
  .blocks-contact {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box-contact {
    margin: 0;
  }
}

.blocks-footer-nav {
  display: flex;
  justify-content: space-between;
}
.box-footer-nav__small {
  margin: 0 15px;
  width: 20%;
}
.box-footer-nav__medium {
  margin: 0 15px;
  width: 22%;
}
.box-footer-nav__big {
  margin: 0 15px;
  width: 28%;
}
.box-footer-nav__big__wrap {
  margin-right: 35px;
}
.box-footer-nav__title {
  color: #ff8b00;
  letter-spacing: 0.56px;
  font-size: 14px;
  text-transform: uppercase;
}
.box-footer-nav__marker {
  width: 9px;
  height: 10px;
  margin-right: 5px;
}
.box-footer-nav__list {
  padding: 0;
}
.box-footer-nav__list__item {
  color: white;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.7px;
  line-height: 24px;
}

@media (max-width: 989.99px) {
  .blocks-footer-nav {
    flex-wrap: wrap;
    text-align: center;
  }
  .box-footer-nav__small,
  .box-footer-nav__medium,
  .box-footer-nav__big {
    width: 45%;
  }
  .box-footer-nav__big__wrap {
    margin-right: 0;
  }
}
@media (max-width: 767.99px) {
  .box-footer-nav__small,
  .box-footer-nav__medium,
  .box-footer-nav__big {
    width: 100%;
  }
  .box-footer-nav__big {
    margin: auto;
    width: unset;
    max-width: 300px;
  }
}
.box-copyright__text {
  margin: 0;
  color: #9b9b9b;
  text-align: center;
  font-family: Raleway;
  font-size: 10px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.box-copyright__marker {
  width: 9px;
  height: 10px;
}

@media (max-width: 1450px) {
}
