@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../fonts/ralewayregular.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: ProximaNova;
}
h2,
h3 {
  color: #7050e5;
}
h2 {
  font-size: 40px;
  line-height: 18px;
}

ul {
  list-style-type: none;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
button {
  margin: 5px;
  background-color: #ff8b00;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 17px 45px 17px 45px;
  text-transform: uppercase;
  color: white;
  border: 3px #ff8b00 solid;
}
button:hover {
  background-color: unset;
  color: #ff8b00;
}
button:active {
  background-color: unset;
  color: #ff8b00;
  transform: translateY(2px);
}
.base-flex {
  flex-basis: 18%;
  padding: 5px;
}

header {
  background: url(../img/backgroundsquare.png) center no-repeat #6149cf;
}
.logo {
  flex-basis: 34%;
}
.menu {
  margin-left: 38px;
  padding-top: 32px;
  display: flex;
  letter-spacing: 0.7px;
  font-size: 14px;
  line-height: 38px;
  align-items: center;
  justify-content: center;
}

header > div {
  flex-basis: 35%;
}

nav ul {
  display: flex;
}
nav li {
  margin-right: 30px;
}

.fixed-smooth {
  z-index: 1;
  position: fixed;
  right: 50px;
  top: 330px;
  text-align: center;
}
.fixed-smooth ul {
  padding: 0;
  margin: 0;
}
.fixed-smooth li {
  margin: 4px;
}
@media (max-width: 1024px) {
  .fixed-smooth {
    display: none;
  }
}

.products {
  padding-top: 100px;
  padding-bottom: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.device-authentication {
  color: white;
}
h1 {
  font-size: 55px;
  line-height: 55px;
  padding: 4px;
  margin: 4px;
}
.device-authentication p {
  max-width: 450px;
  margin: 3px;
  padding: 2px;
  font-size: 16px;
  line-height: 30px;
}
.twiitter_img {
  margin-left: 160px;
  text-align: center;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
  .products {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: column;
  }
  .twiitter_img {
    margin-left: 0px;
    margin-top: 30px;
    text-align: center;
  }
}

.find-out-more {
  background: url(../img/backgroundtriangle.png) no-repeat;
  background-position-x: center;
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 18px;
  /* font-size: 26px;*/
  line-height: 16px;
  text-align: center;
}
@media (max-width: 1024px) {
  .find-out-more {
    padding-top: 100px;
  }
}

#services {
  vertical-align: bottom;
}
@media (max-width: 1600px) {
  header {
    background: url(../img/backgroundsquare.png);
    background-position-x: center;
    background-size: auto;
  }
  .find-out-more {
    background-position-x: center;
    background-size: auto;
  }
}
.find-out-more p {
  margin-top: 0;
}
.services {
  padding-top: 80px;
  padding-bottom: 110px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #7050e5;
}
@media (max-width: 800px) {
  .services {
    flex-direction: column;
  }
}
.services > div {
  min-width: 250px;
}
.services h2 {
  font-size: 60px;
}
.services p {
  font-size: 18px;
  /* font-size: 26px;*/
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

.resources {
  padding-top: 120px;
  padding-bottom: 90px;
  background: #f8f8f8;
}
.resources__head {
  display: flex;
}
.resources h2 {
  font-size: 60px;
}
.resources h3 {
  font-size: 18px;
  /* font-size: 30px; */
  line-height: 16px;
  text-transform: uppercase;
}
.resources p {
  font-size: 15px;
  line-height: 22px;
}
.resources__line {
  justify-content: center;
  display: flex;
}
.resources__line .resources__head {
  flex-basis: 18%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .resources__line {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .device__margin {
    height: 146px;
    margin-top: 4px;
    margin-left: 41px;
    margin-right: 85px;
  }
  .user__margin {
    height: 150px;
    margin-left: 53px;
    margin-right: 23px;
  }
  .transaction__margin {
    height: 150px;
    margin-left: 57px;
    margin-right: 73px;
  }
  .contemporary__margin {
    height: 140px;
    margin-left: 56px;
    margin-right: 80px;
  }
  .solutions__margin {
    height: 131px;
    margin-top: 9px;
    margin-left: 38px;
    margin-right: 38px;
  }
  .cloud__margin {
    height: 112px;
    margin-top: 28px;
    margin-left: 27px;
    margin-right: 25px;
  }
}
.about {
  background: white;
  padding-top: 100px;
  padding-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-spotlight {
  padding: 5px;
  flex-basis: 30%;
}
.product-spotlight p {
  font-size: 15px;
  line-height: 22px;
}
.video-block {
  padding: 5px;
  flex-basis: 40%;
}
.video-block video {
  width: 685px;
  height: 390px;
}
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
  }
  .product-spotlight {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .product-spotlight {
    flex-basis: 18%;
  }
  .video-block {
    flex-basis: 18%;
  }
  .video-block video {
    max-width: 100%;
    height: auto;
  }
}

.contact_us {
  background: url(../img/footerbackground.jpg);
  background-size: 100%;
  background-position-y: 40%;
  height: 218px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact_us h2 {
  color: white;
  line-height: 34px;
}
.contact_us > div {
  padding: 5px;
}

.footer-blocks {
  background: #363636;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
}
.footer-twitter {
  padding: 5px;
  flex-basis: 25%;
}
.footer-twitter-wrapper {
  max-width: 300px;
}
.footer-blocks h3 {
  color: #ff8b00;
  letter-spacing: 0.56px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
}
.footer-blocks ul {
  margin-top: 0;
}
.footer-blocks li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: white;
  letter-spacing: normal;
}
footer {
  position: relative;
}
.footerlogo {
  position: absolute;
  right: 33px;
  bottom: 48px;
}
@media (max-width: 500px) {
  .footer-twitter {
    margin: auto;
  }
  .footer-blocks {
    flex-direction: column;
    text-align: center;
    padding-bottom: 80px;
  }
}

.copyright-bar {
  background: #252525;
  height: 31px;
}
.copyright-bar p {
  margin: 0;
  padding: 9px 0 0 0;
  color: #9b9b9b;
  text-align: center;
  font-family: Raleway;
  font-size: 10px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
